
.background1 {
  background-image: url("https://www.treehugger.com/thmb/f6bheAPa7Dj-aWhyfBpZAyKQnXo=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-163520909-a51a026d2f794fc9b7fc1283806a7248.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: autos;
  width: 100%;
  padding-bottom: 5%;
}
